<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Credit card form</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>E-commerce</a>
            </li>
            <li class="active">
                <strong>Credit card form</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="EcommerceCheckoutController as ctrl">
    <div class="row">
        <div class="col-lg-12">
            <div ng-class="ctrl.loading ? 'ibox-content sk-loading' : 'ibox-content'">
                <div class="sk-spinner sk-spinner-wave">
                    <div class="sk-rect1"></div>
                    <div class="sk-rect2"></div>
                    <div class="sk-rect3"></div>
                    <div class="sk-rect4"></div>
                    <div class="sk-rect5"></div>
                </div>

                <div class="col-md-4">
                    <div class="payment-card">
                        <h2>
                            Have a coupon?
                        </h2>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group" id="cupon_id">
                                    <input placeholder="Insert your coupon number" ng-model="ctrl.coupon" type="text" class="form-control">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary" ng-click="ctrl.applyCoupon()">Apply</button>
                                    </span>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="col-sm-12">
                                Enter your coupon to receive a 5% discount
                            </div>
                            <div class="col-sm-12">
                                *Not cumulative
                            </div>
                             <br>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="payment-card">
                        <h2>
                            Shipping address
                        </h2>
                        <br>
                        <div class="row">
                            <div class="col-sm-12">
                                <strong>{{ctrl.customer.fullName}}</strong>
                            </div>
                            <div class="col-sm-12">
                                {{ctrl.customer.shippingAddress.streetNumber}} {{ctrl.customer.shippingAddress.street}} {{ctrl.customer.shippingAddress.complement}}
                            </div>
                            <div class="col-sm-12">
                                {{ctrl.customer.shippingAddress.city}},{{ctrl.customer.shippingAddress.state}} {{ctrl.customer.shippingAddress.zipCode}}
                            </div>
                            <div class="col-sm-12">
                                {{ctrl.customer.shippingAddress.country}}
                            </div>
                            <div class="col-sm-12">
                            Phone number:  {{ctrl.customer.phone.areaCode}} {{ctrl.customer.phone.number}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="payment-card">
                        <h2>
                            Customer info
                        </h2>
                        <br>
                        <div class="row">
                            <div class="col-sm-12">
                                <strong>{{ctrl.customer.fullName}}</strong>
                            </div>
                            <div class="col-sm-12">
                                <strong>E-mail: </strong> {{ctrl.customer.email}}
                            </div>
                            <div class="col-sm-12">
                                <strong>BirthDate: </strong> {{ctrl.customer.birthDate}}
                            </div>
                            <div class="col-sm-12">
                                <strong>Tax Document</strong> {{ctrl.customer.taxDocument}}
                            </div>
                            <div class="col-sm-12">
                                <strong>Phone number:</strong> {{ctrl.customer.phone.areaCode}} {{ctrl.customer.phone.number}}
                            </div>
                        </div>
                    </div>
                </div>

            <div class="ibox">
                <div class="ibox-title">
                    Payment method
                </div>
                <div class="ibox-content">
                    <uib-accordion class="panel-group payments-method">
                        <uib-accordion-group is-open="true">
                            <uib-accordion-heading>
                                <div class="pull-right">
                                    <i class="fa fa-cc-amex text-success"></i>
                                    <i class="fa fa-cc-mastercard text-warning"></i>
                                    <i class="fa fa-cc-visa text-success"></i>
                                </div>
                                <h5 class="panel-title">
                                    Credit Card
                                </h5>
                            </uib-accordion-heading>
                            <div class="panel-body" >

                                <div class="row">
                                    <div class="col-md-4">
                                        <h2>Summary</h2>
                                        <strong>Products:</strong>:
                                        <p ng-repeat="product in ctrl.selectedProducts" ng-bind="product.name"></p>

                                        <strong>Price:</strong>: <span class="text-navy">{{ctrl.amount/100 | currency}}</span>

                                        <p class="m-t">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                            enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                            nisi ut aliquip ex ea commodo consequat.

                                        </p>
                                    </div>
                                    <div class="col-md-8">
                                        <form role="form" id="payment-form">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <label>CARD NUMBER</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" name="Number" placeholder="Valid Card Number" ng-model="ctrl.card.number" required />
                                                            <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-4 col-md-4">
                                                    <div class="form-group">
                                                        <label>EXPIRATION MONTH</label>
                                                        <input type="number" class="form-control" name="expiry_month" placeholder="MM" min="01" max="12" ng-model="ctrl.card.expirationMonth" required/>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4 col-md-4">
                                                    <div class="form-group">
                                                        <label>EXPIRATION YEAR</label>
                                                        <input type="number" class="form-control" name="expiry_year" min="01" max="99" placeholder="YY" ng-model="ctrl.card.expirationYear" required/>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4 col-md-4 pull-right">
                                                    <div class="form-group">
                                                        <label>CV CODE</label>
                                                        <input type="text" class="form-control" name="CVC" placeholder="CVC" ng-model="ctrl.card.CVC" required/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="form-group">
                                                        <label>NAME OF CARD</label>
                                                        <input type="text" class="form-control" name="card" placeholder="NAME AND SURNAME" ng-model="ctrl.card.name" required/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <div class="form-group">
                                                        <label>INSTALLMENTS</label>
                                                        <div>
                                                            <select chosen id="installment" class="chosen-select"  tabindex="4" ng-model="ctrl.installment" ng-options="item as item.text for item in ctrl.installments">
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br/>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <button class="btn btn-primary" ng-click="ctrl.makePayment()">Make a payment!</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </uib-accordion-group>
                        <div class="ibox-content">
                            <button class="btn btn-white" ui-sref="ecommerce.product_details"><i class="fa fa-arrow-left"></i>
                                Continue shopping
                            </button>
                        </div>
                    </uib-accordion>
                </div>
            </div>
        </div>
        </div>
    </div>

</div>